/* Responsive */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* header */
.headerBc {
  background-color: #99ac21;
  color: #fbfbfb;
  display: flex;
  justify-content: space-around;
}

/* Navbar */
.navbarBc {
  background-color: #fbfbfb;
}

.btnNav {
  background-color: #fbfbfb;
}

.btnNav:active {
  background-color: #99ae21;
  opacity: 50%;
}

/* Schedule */

/* Meetings */

.btnOffice {
  background-color: #9d4878;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em;
}

.btnMeeting {
  background-color: #9d4878;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em;
}

.btnMeeting:active {
  background-color: #99ac21;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em;
}

.btnOffice:active {
  background-color: #99ac21;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em;
}

.mainContainer {
  display: flex;
  justify-content: center;
}

/* WorkDay */

/* Booking */

/* Login */

.sideBar {
  background-color: #99ac21;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 35%;
}

.contLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Logout */
