.root {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 0.5em;
}

input:focus {
  border: 3px solid #555;
}
/* Responsive */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* header */
.headerBc {
  background-color: #99ac21;
  color: #fbfbfb;
  display: flex;
  justify-content: space-between;
}

/* Navbar */
.navbarBc {
  margin-left: 20px;
  background-color: #fbfbfb;
  display: block;
  width: 18em;
  padding-top: 20px;
  float: left;
  z-index: 6;
}

.navbar {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  z-index: 5;
}

.btnNav {
  background-color: #fbfbfb;
  align-items: flex-start;
  padding: 1.5em 2em 1.5em 2em;
}

.btnNav:active {
  background-color: #99ae21;
  opacity: 50%;
  padding: 1.5em 2em 1.5em 2em;
}




/* attendees */


.attendeesTitle {
  display: flex;
  align-content: center;
  margin-bottom: 20px;
}

.attendants {
  padding-left: 11em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  padding-top: 1em;
  margin: 8px 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.btnClose {
  background-color: #9d4878;
  color: white;
  border-radius: 0.5em;
  border-style: none;
  padding: 0.5em 1em 0.5em 1em;
}
.btnClose:hover {
  background-color: #99ae21;
  color: white;
  border-radius: 0.5em;
  border-style: none;
  padding: 0.5em 1em 0.5em 1em;
}

.btnPlus {
  background-color: #99ac21;
  color: white;
  border-radius: 0.5em;
  border-style: none;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 20px;
}

.btnPlus:hover {
  background-color: #9d4878;
  color: white;
  border-radius: 0.5em;
  border-style: none;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 20px;
}

/* Schedule */
.dateContainer {
  padding-left: 11em;
  display: flex;
  justify-content: space-evenly;
  width: 55vw;
  padding-top: 1em;
}

.today {
  font-weight: bold;
  background-color: #99ac21;
  border-radius: 0.5em;
  border-style: none;
  color: white;
  margin-left: 20px;
}

.infoCard {
  display: flex;
  align-items: center;
  width: 20vw;
  height: 20vh;
  background-color: #c4c4c4;
  border-radius: 0.5em;
  flex-direction: column;
  justify-content: space-around;
}

.meetingsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1em;
  height: 45vh;
  float: right;
  padding-right: 20em;
}

.editBtn {
  display: flex;
  width: 12em;
  justify-content: space-between;
}

.btnCancel {
  background-color: #9d4878;
  color: white;
  border-radius: 0.5em;
  border-style: none;
}

.btnEdit {
  background-color: #99ac21;
  color: white;
  border-radius: 0.5em;
  border-style: none;
}

/* Meetings */



/* Office */

/* Booking */

.btnOffice {
  background-color: #9d4878;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em 1em 0.5em 1em;
}

.btnMeeting {
  background-color: #9d4878;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em 1em 0.5em 1em;
}

.btnMeeting:active {
  background-color: #99ac21;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em 1em 0.5em 1em;
}

.btnOffice:active {
  background-color: #99ac21;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em 1em 0.5em 1em;
}

.mainContainer {
  display: flex;
  justify-content: center;
}
.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
.mainOptions {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  width: 60vw;
}
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}
.btnContainer {
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
}
/* Login */

.sideBar {
  margin-top: 20em;
  background-color: #99ac21;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 30em;
  float: left;
  height: 50em;
  margin-left: 4em;
}

.sidebarBG {
  background-color: #99ac21;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 28em;
  float: left;
}

.contLogin {
  padding-top: 18em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btnLogin {
  display: flex;
  justify-content: center;
  background: #9d4878;
  padding: 1em;
  border-radius: 0.5em;
  text-decoration: none;
  color: white;
}

.btnLogin:hover {
  background-color: #99ae21;
  color: white;
  text-decoration: none;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Logout */
